html,
body,
#root,
.App {
  height: 100%;
}

input {
  margin: 20px;
}

table,
td,
th {
  border         : 1px solid black;
  border-collapse: collapse;
}

table {
  position   : relative;
  margin-left: 20px;
  max-width  : 100%;
  min-width  : 50%;
}

tr:nth-child(2n) {
  background-color: #e6e6e6;
}

td:first-child {
  width: 10%;
}

th:first-child {
  min-width: 10%;
}

th {
  height   : 35px;
  cursor   : pointer;
  max-width: 33%;
}

th:hover {
  background-color: #e6e6e6;
}

.ascending::after {
  content    : "⮟";
  display    : inline-block;
  margin-left: 10px;
}

.descending::after {
  content    : "⮝";
  display    : inline-block;
  margin-left: 10px;
}

.pagination__container {
  position  : relative;
  display   : flex;
  list-style: none;
}

.pagination__page {
  display: inline-block;
  padding: 10px 15px;
  border : 1px solid grey;
  cursor : pointer;
}

.pagination__page:hover:not(.pagination__active) {
  background-color: lightgrey;
}

.pagination__button {
  margin: 0px 10px;
}

.pagination__active {
  background-color: #ddd;
}

.loading {
  margin          : 0px;
  padding         : 0px;
  position        : relative;
  background-color: #f2ebd8;
  width           : 100%;
  height          : 100%;
}

.loading__wrapper {
  position : absolute;
  left     : 50%;
  top      : 50%;
  transform: translate(-50%, -50%);
}

.loading__name {
  font-size: 20px;
}

.lds-dual-ring {
  display: inline-block;
  width  : 80px;
  height : 80px;
}

.lds-dual-ring:after {
  content      : " ";
  display      : block;
  width        : 64px;
  height       : 64px;
  margin       : 8px;
  border-radius: 50%;
  border       : 6px solid #000;
  border-color : #000 transparent #000 transparent;
  animation    : lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}